<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div class="logo">
        <div><span style="font-size: 23px">МАКЛЕР</span><span style="font-size: 15px">ОНЛАЙН</span></div>
        <div><span style="font-size: 9px;margin-left: 25px">ГРУППА КОМПАНИЙ ZAVRUS</span></div>
    </div>
    <div class="menu">
        <ul>
            <li><div class="menuBlock" (click)="selected($event)" routerLink="login" routerLinkActive="active">ВОЙТИ</div></li>
            <li><div class="menuBlock" (click)="selected($event)">ОПЛАТА</div></li>
            <li><div class="menuBlock" (click)="selected($event)">О НАС</div></li>
            <li><div class="menuBlock" (click)="selected($event)">ИЗБРАННОЕ</div></li>
            <li><div class="menuBlock" (click)="selected($event)">ЗАЯВКИ</div></li>
            <li><div class="menuBlock" (click)="selected($event)"  [routerLink]="['objects', true, false, true]" routerLinkActive="active">ОБЪЕКТЫ</div></li>
            <li><div class="menuBlock" (click)="selected($event)"  routerLink="" routerLinkActive="active">ГЛАВНАЯ</div></li>
        </ul>
    </div>
</header>
<div class="uselessLine"></div>
<router-outlet></router-outlet>

<div id="menuMobile" class="menuMobile" [class.open]="mobileMenuActive">
    <ul>
        <li><div class="mobileBlock" (click)="mobileMenuActive = !mobileMenuActive" routerLink="" routerLinkActive="active">ГЛАВНАЯ</div></li>
        <li><div class="mobileBlock" (click)="mobileMenuActive = !mobileMenuActive" [routerLink]="['objects', true, false, false]" routerLinkActive="active">ОБЪЕКТЫ</div></li>
        <li><div class="mobileBlock" (click)="mobileMenuActive = !mobileMenuActive">ЗАЯВКИ</div></li>
        <li><div class="mobileBlock" (click)="mobileMenuActive = !mobileMenuActive">ИЗБРАННОЕ</div></li>
        <li><div class="mobileBlock" (click)="mobileMenuActive = !mobileMenuActive">О НАС</div></li>
        <li><div class="mobileBlock" (click)="mobileMenuActive = !mobileMenuActive">ОПЛАТА</div></li>
        <li><div class="mobileBlock" (click)="mobileMenuActive = !mobileMenuActive">ВОЙТИ</div></li>
    </ul>
</div>
<div class="mobileTopMenu">
    <div class="button1"  [routerLink]="['../objects', true, false, false]" routerLinkActive="active" (click)="mobileMenuActive = false">СПИСОК</div>
    <div class="hideMenu" (click)="mobileMenuActive = !mobileMenuActive">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="button2" [routerLink]="['../objects', false, true, true]" routerLinkActive="active"  (click)="mobileMenuActive = false">ФИЛЬТРЫ</div>
</div>


